/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import 'flexboxgrid/css/flexboxgrid.min.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

html,
body {
  height: auto;
}

body {
  background: #f3f3f3;
  -webkit-font-smoothing: antialiased !important;
}

body,
input,
textarea,
button {
  font: 14px 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
}
